<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Embodied Question Answering</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Overview</a>
        </li>
        <li>
          <a href="/people">People</a>
        </li>
        <!-- <li>
          <a href="/data">Data</a>
        </li>
        <li>
          <a href="/#/bibtex">Bibtex</a>
        </li>
        <li>
          <a href="/#/acknowledgements">Acknowledgements</a>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="//research.fb.com">
            <img style="height:15px;" src="/static/img/ico/fair.png">
          </a>
        </li>
        <li>
          <a href="//gatech.edu">
            <img style="height:20px;" src="/static/img/ico/gt.jpg">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>